@import "nav.css";

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 5;
    background: green;
}

canvas {
    background: #2b8eff;
    display: block;
    margin: 0 auto;
}

p {
    color: gold;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

button {
    user-select: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
}

input {
    user-select: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
}

  