@import "nav.css";

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 5;
    background: rgb(192, 65, 255);
}

canvas {
    background: #2b8eff;
    display: block;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

p {
    color: gold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
  